<button (click)="autenticar()">aert</button>
<table class="table px-2">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Status</th>
      <th scope="col">CPU</th>
      <th scope="col">Memoria</th>
      <th scope="col">Disco</th>
      <th scope="col">Rede</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Processo</th>
      <th>Eficiencia</th>
      <td>0%</td>
      <td>200,6 MB</td>
      <td>0 Mb/s</td>
      <td>0,1 Mbps</td>
    </tr>
    <tr>
      <th scope="row">Processo</th>
      <th>Eficiencia</th>
      <td>0%</td>
      <td>200,6 MB</td>
      <td>0 Mb/s</td>
      <td>0,1 Mbps</td>
    </tr>
    <tr>
      <th scope="row">Processo</th>
      <th>Eficiencia</th>
      <td>0%</td>
      <td>200,6 MB</td>
      <td>0 Mb/s</td>
      <td>0,1 Mbps</td>
    </tr>
  </tbody>
</table>
